<a href="https://colab.research.google.com/github/Akesh-28/Data_Analysis/blob/main/Sales_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as nnp

READING CSV

In [ ]:
df=pd.read_csv("sales_data_sample.csv", encoding='latin1')
total=pd.read_csv("sales_data_sample.csv", encoding='latin1')

In [ ]:
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

#Updating columns

In [ ]:
df.columns=["ID","QUANTITY","PRICE/Qty","LINE NUMBER","SALES","DATE","STATUS","QUARTERS","MONTH","YEAR","PRODUCT GROUP","MSRP","CODE","CUSTOMER","PHONE","ADDRESS","ADDRESSLINE2","CITY","STATE","POSTAL CODE","COUNTRY","TERRITORY","FIRST CONTACT","LAST CONTACT","DEAL SIZE"]
df

,ID,QUANTITY,PRICE/Qty,LINE NUMBER,SALES,DATE,STATUS,QUARTERS,MONTH,YEAR,...,ADDRESS,ADDRESSLINE2,CITY,STATE,POSTAL CODE,COUNTRY,TERRITORY,FIRST CONTACT,LAST CONTACT,DEAL SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

UPDATED ADDRESS

In [ ]:
if 'ADDRESSLINE2' in df.columns:
    df['ADDRESS'] = df['ADDRESS'].astype(str) + ', ' + df['ADDRESSLINE2'].fillna('').astype(str)
    df.drop(columns=["ADDRESSLINE2"], inplace=True)
df

,ID,QUANTITY,PRICE/Qty,LINE NUMBER,SALES,DATE,STATUS,QUARTERS,MONTH,YEAR,...,PHONE,ADDRESS,CITY,STATE,POSTAL CODE,COUNTRY,TERRITORY,FIRST CONTACT,LAST CONTACT,DEAL SIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,26.47.1555,"59 rue de l'Abbaye,",Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,+33 1 46 62 7555,"27 rue du Colonel Pierre Avia,",Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,6265557265,"78934 Hillside Dr.,",Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,6505551386,"7734 Strong St.,",San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,981-443655,"Torikatu 38,",Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,61.77.6555,"1 rue Alsace-Lorraine,",Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,6175559555,"8616 Spinnaker Dr.,",Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

UPDATING DATE(from object) AND REMOVE TIME FROM DATE(since all dates have same time)

In [ ]:
df["DATE"]=pd.to_datetime(df["DATE"],format="%m/%d/%Y %H:%M")
df["DATE"]=pd.to_datetime(df["DATE"]).dt.date

SORTED BY

In [ ]:
df.sort_values(by=["DATE"],ascending=[True],inplace=True)

In [ ]:
df.nunique()

ID                307
QUANTITY           58
PRICE/Qty        1016
LINE NUMBER        18
SALES            2763
DATE              252
STATUS              6
QUARTERS            4
MONTH              12
YEAR                3
PRODUCT GROUP       7
MSRP               80
CODE              109
CUSTOMER           92
PHONE              91
ADDRESS            92
CITY               73
STATE              16
POSTAL CODE        73
COUNTRY            19
TERRITORY           3
FIRST CONTACT      77
LAST CONTACT       72
DEAL SIZE           3
dtype: int64

UPDATING CORRECT CALCULATIONS IN wrong rows

In [ ]:
wrong_rows = df[df["SALES"] != df["PRICE/Qty"] * df["QUANTITY"]]
wrong_rows

,ID,QUANTITY,PRICE/Qty,LINE NUMBER,SALES,DATE,STATUS,QUARTERS,MONTH,YEAR,...,PHONE,ADDRESS,CITY,STATE,POSTAL CODE,COUNTRY,TERRITORY,FIRST CONTACT,LAST CONTACT,DEAL SIZE
578,10100,30,100.00,3,5151.00,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Medium
728,10101,25,100.00,4,3782.00,2003-01-09,Shipped,1,1,2003,...,+49 69 66 90 2555,"Lyonerstr. 34,",Frankfurt,NaN,60528,Germany,EMEA,Keitel,Roland,Medium
830,10101,26,100.00,1,3773.38,2003-01-09,Shipped,1,1,2003,...,+49 69 66 90 2555,"Lyonerstr. 34,",Frankfurt,NaN,60528,Germany,EMEA,Keitel,Roland,Medium
501,10102,41,50.14,1,2055.74,2003-01-10,Shipped,1,1,2003,...,2125551500,"2678 Kingston Rd., Suite 101",NYC,NY,10022,USA,NaN,Frick,Michael,Small
475,10102,39,100.00,2,4808.31,2003-01-10,Shipped,1,1,2003,...,2125551500,"2678 Kingston Rd., Suite 101",NYC,NY,10022,USA,NaN,Frick,Michael,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,10424,49,100.00,3,7969.36,2005-05-31,In Process,2,5,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Large
1064,10425,28,100.00,8,3793.16,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium
2405,10425,18,100.00,2,1895.94,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Small
393,10425,33,100.00,4,4692.60,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium
160,10425,38,100.00,12,5894.94,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium

In [ ]:
df["SALES"]=df["PRICE/Qty"]*df[("QUANTITY")]
df

,ID,QUANTITY,PRICE/Qty,LINE NUMBER,SALES,DATE,STATUS,QUARTERS,MONTH,YEAR,...,PHONE,ADDRESS,CITY,STATE,POSTAL CODE,COUNTRY,TERRITORY,FIRST CONTACT,LAST CONTACT,DEAL SIZE
578,10100,30,100.00,3,3000.00,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Medium
680,10100,50,67.80,2,3390.00,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Medium
1267,10100,22,86.51,4,1903.22,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Small
2024,10100,49,34.47,1,1689.03,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Small
1539,10101,45,31.20,3,1404.00,2003-01-09,Shipped,1,1,2003,...,+49 69 66 90 2555,"Lyonerstr. 34,",Frankfurt,NaN,60528,Germany,EMEA,Keitel,Roland,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2405,10425,18,100.00,2,1800.00,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Small
393,10425,33,100.00,4,3300.00,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium
160,10425,38,100.00,12,3800.00,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium
2302,10424,44,61.41,2,2702.04,2005-05-31,In Process,2,5,2005,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
727,10425,38,99.41,7,3777.58,2005-05-31,In Process,2,5,2005,...,40.67.8555,"67, rue des Cinquante Otages,",Nantes,NaN,44000,France,EMEA,Labrune,Janine,Medium

TOP BUYERS

In [ ]:
hwcust=df.groupby("CUSTOMER").agg(TOTAL_SALES=('SALES','sum'),UNIQUE_IDS=("ID", "nunique") ).reset_index()
hwcust.sort_values("TOTAL_SALES",ascending=False)

                        CUSTOMER  TOTAL_SALES  UNIQUE_IDS
33         Euro Shopping Channel    766195.05          26
55  Mini Gifts Distributors Ltd.    530587.19          17
6     Australian Collectors, Co.    164575.87           5
44             La Rochelle Gifts    153909.82           4
58            Muscle Machine Inc    151782.04           4
..                           ...          ...         ...
50               Microscale Inc.     28205.23           2
69                  Royale Belge     25960.70           4
10       Auto-Moto Classics Inc.     25596.16           3
4              Atelier graphique     21213.16           3
14             Boards & Toys Co.      8642.15           2

[92 rows x 3 columns]

GROUPING BASED ON STATUS

In [ ]:
status_group=dict(tuple(df.groupby("STATUS")))

In [ ]:
shipped=status_group["Shipped"]
resolved=status_group["Resolved"]
cancelled=df[df["STATUS"]=="Cancelled"]
on_hold=df.query("STATUS=='On Hold'")
disputed=df[df["STATUS"]=="Disputed"]
in_process=df[df["STATUS"]=="In Process"]

In [ ]:
shipped

,ID,QUANTITY,PRICE/Qty,LINE NUMBER,SALES,DATE,STATUS,QUARTERS,MONTH,YEAR,...,PHONE,ADDRESS,CITY,STATE,POSTAL CODE,COUNTRY,TERRITORY,FIRST CONTACT,LAST CONTACT,DEAL SIZE
578,10100,30,100.00,3,3000.00,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Medium
680,10100,50,67.80,2,3390.00,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Medium
1267,10100,22,86.51,4,1903.22,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Small
2024,10100,49,34.47,1,1689.03,2003-01-06,Shipped,1,1,2003,...,6035558647,"2304 Long Airport Avenue,",Nashua,NH,62005,USA,NaN,Young,Valarie,Small
1539,10101,45,31.20,3,1404.00,2003-01-09,Shipped,1,1,2003,...,+49 69 66 90 2555,"Lyonerstr. 34,",Frankfurt,NaN,60528,Germany,EMEA,Keitel,Roland,Small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,10419,34,90.17,14,3065.78,2005-05-17,Shipped,2,5,2005,...,6562-9555,"Geislweg 14,",Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Medium
551,10419,37,100.00,1,3700.00,2005-05-17,Shipped,2,5,2005,...,6562-9555,"Geislweg 14,",Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Medium
1189,10419,43,100.00,3,4300.00,2005-05-17,Shipped,2,5,2005,...,6562-9555,"Geislweg 14,",Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Medium
1893,10419,55,52.66,12,2896.30,2005-05-17,Shipped,2,5,2005,...,6562-9555,"Geislweg 14,",Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Small
315,10419,10,100.00,11,1000.00,2005-05-17,Shipped,2,5,2005,...,6562-9555,"Geislweg 14,",Salzburg,NaN,5020,Austria,EMEA,Pipps,Georg,Small

In [ ]:
cancelled

,ID,QUANTITY,PRICE/Qty,LINE NUMBER,SALES,DATE,STATUS,QUARTERS,MONTH,YEAR,...,PHONE,ADDRESS,CITY,STATE,POSTAL CODE,COUNTRY,TERRITORY,FIRST CONTACT,LAST CONTACT,DEAL SIZE
1949,10167,29,83.86,8,2431.94,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
1595,10167,33,100.00,16,3300.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
2775,10167,40,41.71,4,1668.40,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
1899,10167,32,63.12,3,2019.84,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
940,10167,46,73.12,7,3363.52,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
2696,10167,24,100.00,13,2400.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
111,10167,44,100.00,9,4400.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
2593,10167,46,70.11,10,3225.06,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
2722,10167,28,100.00,14,2800.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
2539,10167,29,100.00,5,2900.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
1220,10167,34,100.00,6,3400.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
1824,10167,20,79.66,11,1593.20,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
2802,10167,38,48.59,15,1846.42,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
2462,10167,43,75.34,12,3239.62,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
1749,10167,21,69.88,2,1467.48,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Small
557,10167,43,100.00,1,4300.00,2003-10-23,Cancelled,4,10,2003,...,0695-34 6555,"?kergatan 24,",Boras,NaN,S-844 67,Sweden,EMEA,Larsson,Maria,Medium
2469,10248,36,71.34,6,2568.24,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
117,10248,20,100.00,3,2000.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1955,10248,23,76.31,2,1755.13,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1000,10248,32,100.00,12,3200.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
946,10248,21,73.98,1,1553.58,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1077,10248,42,100.00,14,4200.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
2729,10248,35,90.37,8,3162.95,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
2521,10248,40,100.00,13,4000.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
2703,10248,30,100.00,7,3000.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
1602,10248,48,100.00,10,4800.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
2600,10248,32,75.89,4,2428.48,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1301,10248,42,75.48,11,3170.16,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
2809,10248,23,65.52,9,1506.96,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1831,10248,30,100.00,5,3000.00,2004-05-07,Cancelled,2,5,2004,...,2125557818,"897 Long Airport Avenue,",NYC,NY,10022,USA,NaN,Yu,Kwai,Medium
1804,10253,40,42.67,7,1706.80,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
612,10253,23,83.93,9,1930.39,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
173,10253,24,100.00,13,2400.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
354,10253,25,90.17,14,2254.25,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
1880,10253,24,52.66,12,1263.84,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
868,10253,37,100.00,2,3700.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
1982,10253,39,100.00,8,3900.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
539,10253,24,100.00,1,2400.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
638,10253,33,100.00,4,3300.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
406,10253,41,100.00,10,4100.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
1177,10253,31,100.00,3,3100.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
1037,10253,40,100.00,6,4000.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
460,10253,26,100.00,5,2600.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Medium
303,10253,22,100.00,11,2200.00,2004-06-01,Cancelled,2,6,2004,...,(171) 555-2282,"Berkeley Gardens 12 Brewery,",Liverpool,NaN,WX1 6LT,UK,EMEA,Devon,Elizabeth,Small
2363,10262,49,37.97,3,1860.53,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2312,10262,40,79.11,2,3164.40,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2755,10262,35,71.07,7,2487.45,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
1227,10262,34,100.00,14,3400.00,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2494,10262,40,84.03,4,3361.20,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
1906,10262,46,70.35,11,3236.10,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2676,10262,27,76.00,5,2052.00,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2573,10262,33,90.75,6,2994.75,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
1956,10262,49,87.21,16,4273.29,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2009,10262,48,61.42,8,2948.16,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2782,10262,21,57.11,12,1199.31,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
1756,10262,24,67.14,10,1611.36,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
1525,10262,34,97.38,1,3310.92,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
564,10262,49,100.00,9,4900.00,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2546,10262,44,94.14,13,4142.16,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
947,10262,32,84.30,15,2697.60,2004-06-24,Cancelled,2,6,2004,...,(91) 555 94 44,"C/ Moralzarzal, 86,",Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small

STORED THE DERIVED DATA

In [ ]:
resolved.to_csv("resolved_orders.csv", index=False)
from google.colab import files
files.download("resolved_orders.csv")

CHECKING THE NO'S OF IDS OF CUSTOMER

In [ ]:
dup_customers = df.groupby("CUSTOMER")["ID"].nunique()
dup_customers = dup_customers[dup_customers >=1]
dup_customers

CUSTOMER
AV Stores, Co.                 3
Alpha Cognac                   3
Amica Models & Co.             2
Anna's Decorations, Ltd        4
Atelier graphique              3
                              ..
Vida Sport, Ltd                2
Vitachrome Inc.                3
Volvo Model Replicas, Co       4
West Coast Collectables Co.    2
giftsbymail.co.uk              2
Name: ID, Length: 92, dtype: int64

HIGHER WEIGHTAGE CUSTOMER

In [ ]:
hwcustomers=df[df["DEAL SIZE"]=="Large"]
hwcustomers.groupby("CUSTOMER").agg(TOTAL_SALES=("SALES","sum"),
                                   SHIPPED_COUNT=("STATUS",lambda x:(x=="Shipped").sum()),)

                              TOTAL_SALES  SHIPPED_COUNT
CUSTOMER
AV Stores, Co.                     5000.0              1
Alpha Cognac                       4100.0              1
Amica Models & Co.                12500.0              3
Anna's Decorations, Ltd            8200.0              2
Australian Collectables, Ltd       4900.0              1
...                                   ...            ...
Toys of Finland, Co.               8800.0              2
Toys4GrownUps.com                  9400.0              1
UK Collectables, Ltd.             17500.0              3
Vitachrome Inc.                   13400.0              3
Volvo Model Replicas, Co           2900.0              1

[70 rows x 2 columns]

SETTING UP INDEX

In [ ]:
df.drop(columns=["level_0"], inplace=True)

STORE MY FILE

In [ ]:
df.to_csv("Final_Project_Pandas1.csv", index=False )

In [ ]:
from google.colab import files
files.download("Final_Project_Pandas1.csv")